/* .entry-cover{
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
  } */
body {
  background: linear-gradient(
    to right,
    #000033 0%,
    #000066 25%,
    #330099 50%,
    #6600cc 75%,
    #000066 100%
  );
  animation: aurora 10s infinite alternate;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


